absl-py==0.11.0
aiohttp==3.7.3
antlr4-python3-runtime==4.8
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1610522574055/work
async-generator @ file:///home/ktietz/src/ci/async_generator_1611927993394/work
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1605305165209/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
bravado==11.0.2
bravado-core==5.17.0
cachetools==4.2.1
certifi==2020.12.5
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1606601123836/work
cftime @ file:///tmp/build/80754af9/cftime_1610908428735/work
chardet==3.0.4
click==7.1.2
colorlog==4.7.2
configparser==5.0.1
cycler==0.10.0
decorator @ file:///home/ktietz/src/ci/decorator_1611930055503/work
defusedxml==0.6.0
docker-pycreds==0.4.0
efficientnet-pytorch==0.7.0
efficientnet-pytorch-3d @ git+https://github.com/shijianjian/EfficientNet-PyTorch-3D@c33efbba18970cb45f481601494379ff91d4b850
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
fsspec==0.8.5
future @ file:///home/conda/feedstock_root/build_artifacts/future_1610147327521/work
gitdb==4.0.5
GitPython==3.1.12
google-auth==1.25.0
google-auth-oauthlib==0.4.2
grpcio==1.35.0
h5py==2.10.0
hydra-colorlog==1.0.0
hydra-core==1.1.0.dev3
idna==2.10
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1610355167281/work
importlib-resources==5.1.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1607737215242/work/dist/ipykernel-5.4.2-py3-none-any.whl
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1612487001788/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1610146791023/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
joblib==1.0.0
jsonpointer==2.0
jsonref==0.2
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1610375432619/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1612213311222/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282420641/work
Markdown==3.3.3
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1610127565888/work
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1613407855456/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1610112875388/work
monotonic==1.5
msgpack==1.0.2
multidict==5.1.0
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1602859080374/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert_1605401836768/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1611005694671/work
neptune-client==0.5.0
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1606153767164/work
netCDF4==1.5.3
notebook @ file:///tmp/build/80754af9/notebook_1611340975709/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1612116908533/work
oauthlib==3.1.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
omegaconf==2.1.0.dev18
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.2.1
pandocfilters @ file:///tmp/build/80754af9/pandocfilters_1605120460739/work
parso @ file:///tmp/build/80754af9/parso_1607623074025/work
pathtools==0.1.2
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1610407357749/work
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1606344362066/work
promise==2.3
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1611605286670/work
protobuf==3.14.0
psutil==5.8.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1610742651773/work
PyJWT==2.0.1
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1610146798212/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytorch-lightning==1.1.8
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyYAML==5.3.1
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1611924182870/work
requests==2.25.1
requests-oauthlib==1.3.0
rfc3987==1.3.8
rsa==4.7
scikit-learn==0.24.1
scipy==1.6.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
sentry-sdk==0.19.5
shortuuid==1.0.1
simplejson==3.17.2
sip==4.19.13
six @ file:///home/linux1/recipes/ci/six_1610970791821/work
smmap==3.0.5
strict-rfc3339==0.7
subprocess32==3.5.4
swagger-spec-validator==2.7.3
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1609794172745/work
testpath @ file:///home/ktietz/src/ci/testpath_1611930608132/work
threadpoolctl==2.1.0
timm==0.3.4
torch==1.7.1
torchaudio==0.7.2
torchsummary==1.5.1
torchvision==0.8.2
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1610094706440/work
tqdm==4.56.0
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1611751222202/work
urllib3==1.26.3
wandb==0.10.17
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webcolors==1.11.1
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
xarray @ file:///tmp/build/80754af9/xarray_1606939276139/work
yacs==0.1.8
yarl==1.6.3
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
